.formContainer {
    width: 500px;
    margin: 50px auto;
    padding:50px;
    box-shadow: 0 0 10px black;
    text-align: center;
}
input {
    padding: 8px;
}
.formContainer div {
    margin: 15px;
}